.banner-bg-1 {
  background: linear-gradient(
      0deg,
      rgb(15, 15, 15, 0.5),
      rgb(15, 15, 15, 0.88)
    ),
    url("./assets/bannerBg1.webp");
  background-position: start;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-bg-2 {
  background: linear-gradient(
      0deg,
      rgb(15, 15, 15, 0.5),
      rgb(15, 15, 15, 0.88)
    ),
    url("./assets/bannerBg2.webp");
  background-position: start;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-bg-3 {
  background: linear-gradient(
      0deg,
      rgb(15, 15, 15, 0.5),
      rgb(15, 15, 15, 0.88)
    ),
    url("./assets/banenrBg3.webp");
  background-position: start;
  background-size: cover;
  background-repeat: no-repeat;
}