@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";

a.active {
  background-image: linear-gradient(45deg, #ff3b58 11.1%, #02ebc4 95.3%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
}
.button-common {
  background-image: linear-gradient(45deg, #ff3b58 11.1%, #02ebc4 80.3%);
  cursor: pointer;
}

* {
  font-family: "Poppins";
}
.font-playfair {
  font-family: "Playfair Display", serif;
}